*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter';
    font-style: normal;
}

.cabecalho {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-titulo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.simulacao {
    background: rgba(217, 217, 217, 0.5);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.simulacao-titulo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}
